@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "Sass:math";

.bg-grey {
  background-color: var.$background-color-quaternary;
}

.flex-box {
  .flex-item {
    flex-basis: 33.333%;

    @include mix.tablet-styles {
      flex-basis: 100%;
      padding-right: (var.$gutter-base * 4);
      padding-left: (var.$gutter-base * 4);
    }

    @include mix.mobile-l-styles {
      padding-right: (var.$gutter-base * 2);
      padding-left: (var.$gutter-base * 2);

      &:not(:last-child) {
        margin-bottom: var.$gutter-base;
      }
    }
  }
}
