@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "Sass:math";


.footer {
    background-color: var.$background-color-tertiary;
}

.icon-box {
    margin-bottom: math.div(var.$gutter-base, 2);

    a {
        text-decoration: none;
        color: var.$text-color-primary;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.copyright {
    color: var.$text-color-primary;

    a {
        text-decoration: none;
        color: var.$text-color-primary;
        font-weight: 600;
    }
}